DEFAULT_ADDRESS_LABEL = "this oracle"

CHAN_NAME = 'olist'
CHAN_ADDRESS = 'BM-2cXemdJibdXtifKfTHR4somZbbCGAHRG4H'
DEFAULT_ADDRESS_LABEL = "this oracle"

ORACLE_FEE = 0.00003 
ORACLE_ADDRESS = "169coxx1uFytxT1njgDRwgew2s9Hma6j5z" # fill this in after the first oracle launch

BITCOIND_RPC_PORT = '8332'
BITCOIND_RPC_USERNAME = 'bitcoinrpc'
BITCOIND_RPC_HOST = '127.0.0.1'

BITMESSAGE_PORT = 8442
BITMESSAGE_HOST = "127.0.0.1"
BITMESSAGE_USERNAME = "bitrpc"


ORGANIZATION_ADDRESS = 'FILLPLX'
ORGANIZATION_FEE = "0.00002"