BITMESSAGE_USERNAME = "test"
BITMESSAGE_PASSWORD = "test"
BITMESSAGE_HOST = "127.0.0.1"
BITMESSAGE_PORT = "8442"

# Says which address should be used as default for sending
DEFAULT_ADDRESS_LABEL = "oracle"

# On what chan should your oracle work?
CHAN_NAME = 'olist'
CHAN_ADDRESS = 'BM-2cXemdJibdXtifKfTHR4somZbbCGAHRG4H'

# FUTURE REFERENCE: MORE CHANS?



# Set your credentials to Bitcoind
BITCOIND_RPC_USERNAME = "test"
BITCOIND_RPC_PASSWORD = "test"
BITCOIND_RPC_HOST = "127.0.0.1"
BITCOIND_RPC_PORT = 8332

#PRIVATE/PUBLIC KEY PAIR
ORACLE_PRIVATE_KEY = ''
ORACLE_PUBLIC_KEY = ''

ORACLE_FEE = "0.0002"