
# Set your credentials to Bitcoind
BITCOIND_RPC_USERNAME = "test"
BITCOIND_RPC_PASSWORD = "test"
BITCOIND_RPC_HOST = "127.0.0.1"
BITCOIND_RPC_PORT = 8332

#PRIVATE/PUBLIC KEY PAIR
ORACLE_PRIVATE_KEY = ''
ORACLE_PUBLIC_KEY = ''

ORACLE_FEE = "0.0002"