"""
ORACLE_FEE -- fee taken by this oracle
ORACLE_ADDRESS -- the bitcoin address of this oracle, generated upon first launch
"""

ORACLE_FEE = 0.00001
ORACLE_ADDRESS = "" # fill this in to force a custom oracle address to receive fees onto

"""
ORGANIZATION_ADDRESS and FEE - details of organization that manages the contract
"""

ORGANIZATION_ADDRESS = '1BcEDbcYXfZXaVJh2WeCbc3TnEU37eRPSt'
ORGANIZATION_FEE = "0.00003"
ORGANIZATION_CONTACT = "kolinko@gmail.com" # not used in the code, for information only

# Bitcoind settings
"""
On the node with your oracle you'll have to run bitcoind, but no worries,
you do not need to download blockchain. Simply add this line to your config:
connect=127.0.0.1:8333
Your Bitcoind will connect only with your own machine and therefore not download
all the blockchain. You will use your Bitcoind to sign transactions and verify
transactions that come to your machine

ORACLE_FEE -
    fee that you decide your oracle have to get for signature
ORACLE_ADDRESS -
    oracle's address - The one you're signing with and the one that takes the fees
BITCOIND_RPC_PORT - port for RPC server
BITCOIND_RPC_HOST - host for RPC server
BITCOIND_RPC_USERNAME - username for RPC server
BITCOIND_RPC_PASSWORD - password for RPC server
"""

BITCOIND_TEST_RPC_PORT = '80'
BITCOIND_TEST_RPC_HOST = 'rpc.blockchain.info'
BITCOIND_TEST_RPC_USERNAME = '0f6bdf7c-e73b-4697-ab72-a02fdf5838c4'
BITCOIND_TEST_RPC_PASSWORD = 'orisiwallet'


BITCOIND_RPC_PORT = '2521'
BITCOIND_RPC_HOST = '127.0.0.1'
BITCOIND_RPC_USERNAME = 'bitrpc'

BITCOIND_RPC_PASSWORD = "5e4dc365ff5d0f2ff9edd14107e2be742912669f0a091762cd79138a7b5e6ddc"

BITCOIND_TEST_MODE = False
